@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body {
    background-color: black;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    position: relative;
    padding-bottom: 100px;
}

ul {
    height: 25px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: fixed;
}


.img-topo {
    height: 28px;
    margin-top: 25px;
}

#img-conta{
    height: 40px;
    background-color: transparent;
    border: none;
}

video {
    width: 100%;
    min-height: 80%;
}

.capa {
    position: absolute;
    bottom: 30%;
    left: 5%;
    width: 25%;
    z-index: 3;
}

.capa-titulo {
    color: white;
    font-size: 80px;
    margin-bottom: 10px;
    font-weight: bold;
}

.capa-descricao {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.link-assistir{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.link-info{
    color: black;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.imagem-carrosel{
    height: 150px;
    border-radius: 5px; 
}


.imagem-carrosel:hover{
    box-shadow: 0 0 8px #e6dd96;
    border: solid 1px #fff;
    scale: 1.2;
    transition: all 0.2s linear;
}


#carouselExampleControls{
    background-color: transparent;
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 97%;
}

.titulo-carrossel{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}


.modal{
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-conteudo{
    background-color: #181818;
    margin: 30px auto;
    padding: 20px;
    width: 40%;
    color: white;
}

.img-info-modal{
    width: 100%;
    margin: auto;
}

.botao-som{
    cursor: pointer;
    z-index: 4;
    position: absolute;
    top: 990px;
    right: 100px
}

/* Estilização do switch */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

/* Esconde o input checkbox real */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* A parte deslizante do toggle */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Quando o toggle estiver ativado */
input:checked + .slider {
    background-color: transparent;
}

input:checked + .slider:before {
    transform: translateX(15px);
    background-color: #37853ad5;
}


@media(min-width: 350px) and (max-width: 730px){
    ul {
        height: 10px;
        width: 95%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        position: fixed;
    }
    
    .capa {
        position: absolute;
        bottom: 20px;
        left: 5%;
        width: 100%;
        z-index: 3;
    }
    
    .capa-titulo {
        color: white;
        font-size: 12px;
        margin-top: 50px;
        font-weight: bold;
    }
    
    .capa-descricao {
        color: white;
        font-size: 8px;
        margin-bottom: 20px;
        width: 150px;
    }
    
    .link-assistir{
        background-color: white;
        color: black;
        padding: 3px -6px;
        border-radius: 5px;
        cursor: pointer;
        height: 5%;
        
    }
    
    .link-info{
        color: black;
        background-color: rgba(255, 255, 255, 0.35);
        padding: -3px -6px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .imagem-carrosel{
        height: 80px;
        border-radius: 5px; 
    }

    #carouselExampleControls{
        background-color: transparent;
        position: absolute;
        top: 300px;
        left: 50px;
        width: 97%;
    }

    .botao-som{
        cursor: pointer;
        z-index: 4;
        position: absolute;
        top: 180px;
        right: 30px
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 15px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        left: 2.5px;
        bottom: 2.5px;
        background-color: white;
        transition: 0.3s;
        border-radius: 50%;
    }
}

@media(min-width: 731px) and (max-width: 1080px){
    .imagem-carrosel{
        height: 120px;
        border-radius: 5px; 
    }

    #carouselExampleControls{
        background-color: transparent;
        position: absolute;
        top: 600px;
        left: 50px;
        width: 97%;
    }

    .botao-som{
        cursor: pointer;
        z-index: 4;
        position: absolute;
        top: 430px;
        right: 70px
    }
}