@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body {
    background-color: black;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
    position: relative;
    margin-bottom: 700px;
}

ul {
    height: 55px;
    width: 94%;
    margin-left: 40px;
    display: flex;  
    list-style-type: none;
    position: fixed;
    z-index: 5;
    
}

nav a:hover{
    text-decoration: none;
    color: #c5c3c3;
    transition: 0.5s;
}

.img-topo-logo {
    height: 30px;
    margin-top: 25px;
    padding-right: 30px;
}

.img-conta{
    margin-top: 20px;
    right: 10px;
    height: 39px;
    background-color: transparent;
    border-radius: 10%;
    position: absolute;
    margin-right: 5px;
}

.menu-head{
    color: white;
    margin-top: 30px;
    padding-left: 25px;
}

.menu-head-texto{
    color: white;
    font-size: 17px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
}

.lupa{
    position: absolute;
    right: 205px;
    font-size: 30px;
    margin-top: -10px;
    cursor: pointer;
}

.kids{
    position: absolute;
    right: 125px;
    cursor: pointer;
}

.notificacao-sino{
    position: absolute;
    right: 80px;
    font-size: 25px;
    margin-top: -10px;
    cursor: pointer;
}

.usuarios{
    position: absolute;
    right: -10px;
    cursor: pointer;
}

video {
    width: 100%;
    min-height: 80%;
}

.capa {
    position: absolute;
    bottom: 30%;
    left: 5%;
    width: 29%;
    z-index: 5;
}

.capa-titulo {
    color: white;
    font-size: 80px;
    margin-bottom: 10px;
    font-weight: bold;
}

.capa-descricao{
    color: white;
    font-size: 20px;
    margin-bottom: 35px;
}

.link-assistir{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 6px;
    font-size: 25px;
}

.link-info{
    color: black;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    
}

.link-assistir:hover{
    background-color: #c7c5c5
}

.link-info:hover{
    background-color: rgba(255, 255, 255, 0.281);
}

.imagem-carousel{
    height: 170px;
    border-radius: 5px;
    margin: 2px;
}


#carousel1{
    background-color: transparent;
    position: absolute;
    top: 860px;
    left: 30px;
    width: 98%;
    
}

.imagem-carousel:hover{
    box-shadow: 0 0 8px #e6dd96;
    border: solid 1px #fff;
    scale: 1.2;
    transition: all 0.2s linear;
}


.titulo-carousel1{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

#carousel2{
    background-color: transparent;
    position: absolute;
    margin-top: 70px;
    left: 30px;
    width: 98%;
    
}

.titulo-carousel2{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

#carousel3{
    background-color: transparent;
    position: absolute;
    margin-top: 360px;
    left: 30px;
    width: 98%;
    
}

.titulo-carousel3{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}


.modal{
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-conteudo{
    background-color: #181818;
    margin: 30px auto;
    padding: 20px;
    width: 40%;
    color: white;
}

.img-info-modal{
    width: 100%;
    margin: auto;
}

.vol-idade-min{
    position: absolute;
    right: 0px;
    bottom: 320px;
    display: flex;
}

#volumeToggle {

    background-color: rgba(68, 68, 68, 0.521);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s ease;
    z-index: 6;
  }
  
  #volumeToggle:hover {
    background-color: #555;
  }

  .caixa-idade{
    background-color: rgba(51, 51, 51, 0.6);
    width: 130px;
    margin-left: 15px;
    border: 4px white;
    border-left-style: solid;
  }

  .img-idade{
    height: 45px;
    margin-left: 20px;
  }

  #volumeToggleModal {
    position: absolute;
    right: 650px;
    bottom: 530px;
    background-color: rgba(68, 68, 68, 0.521);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease;
    z-index: 6;
  }
  
  #volumeToggleModal:hover {
    background-color: #555;
  }


@media(min-width: 350px) and (max-width: 730px){
    ul {
        height: 1px;
        width: 95%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        position: fixed;
    }

    .img-topo {
        height: 5px;
        margin-top: 25px;
        left: 5px;
    }
    
    #img-conta{
        height: 20px;
        background-color: transparent;
        border: none;
    }

    .menu-head{
        color: white;
        margin-top: 25px;
        padding-left: 25px;
    }
    
    .menu-head-texto{
        color: white;
        font-size: 10px;
        font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
    }
    
    .capa {
        position: absolute;
        bottom: 135px;
        left: 3%;
        width: 100%;
        z-index: 3;
    }
    
    .capa-titulo {
        color: white;
        font-size: 15px;
        margin-top: 50px;
        font-weight: bold;
    }
    
    .capa-descricao {
        color: white;
        font-size: 8px;
        margin-bottom: 5px;
        width: 150px;
    }
    
    .link-assistir{
        background-color: white;
        color: black;
        padding: 3px 5px;
        border-radius: 5px;
        font-size: 7px;
        cursor: pointer;
    }
    
    .link-info{
        color: black;
        background-color: rgba(255, 255, 255, 0.35);
        padding: 3px 5px;
        border-radius: 5px;
        font-size: 7px;
        cursor: pointer;
    }

    #volumeToggle {
        position: absolute;
        right: 40px;
        bottom: 150px;
        background-color: rgba(68, 68, 68, 0.349);
        color: #fff;
        border: none;
        border-radius: 50%;
        padding: 8px;
        cursor: pointer;
        font-size: 8px;
        transition: 0.3s ease;
        z-index: 6;
      }
      
      #volumeToggle:hover {
        background-color: #555;
      }
    

    .modal{
        display: none;
        position: fixed;
        z-index: 5;
        left: 0;
        top: 0;
        width: 100%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.6);
        overflow-y: auto;
    }
    
    .modal-conteudo{
        background-color: #181818;
        margin: 30px auto;
        padding: 20px;
        width: 50%;
        color: white;
    }
    
    .img-info-modal{
        width: 100%;
        margin: auto;
    }
    
    .imagem-carrosel{
        height: 80px;
        border-radius: 5px;
        margin: 2px; 
    }

    #carouselExampleControls{
        background-color: transparent;
        position: absolute;
        top: 270px;
        left: 10px;
        width: 90%;
    }

    .titulo-carrossel{
        color: white;
        font-size: 30px;
        margin-bottom: 15px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 15px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        left: 2.5px;
        bottom: 2.5px;
        background-color: white;
        transition: 0.3s;
        border-radius: 50%;
    }
}

@media(min-width: 732px) and (max-width: 1080px){
    .img-topo-logo {
        height: 20px;
        margin-top: 25px;
        padding-right: 20px;
        left: 5px;
    }
    
    .img-conta{
        margin-top: 20px;
        right: 45px;
        height: 30px;
        background-color: transparent;
        border-radius: 15%;
        position: absolute;
    }

    .menu-head{
        color: white;
        margin-top: 22px;
        padding-left: 20px;
    }
    
    .menu-head-texto{
        color: white;
        font-size: 10px;
        font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", sans-serif;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
    }

    .capa {
        position: absolute;
        bottom: 195px;
        left: 3%;
        width: 50%;
        z-index: 3;
    }

    .capa-titulo {
        color: white;
        font-size: 25px;
        margin-top: 30px;
        font-weight: bold;
    }
    
    .capa-descricao {
        color: white;
        font-size: 14px;
        margin-bottom: 5px;
        width: 160px;
    }
    
    .link-assistir{
        background-color: white;
        color: black;
        padding: 3px 5px;
        border-radius: 5px;
        font-size: 10px;
        cursor: pointer;
    }
    
    .link-info{
        color: black;
        background-color: rgba(255, 255, 255, 0.35);
        padding: 3px 5px;
        border-radius: 5px;
        font-size: 10px;
        cursor: pointer;
    }

    .modal{
        display: none;
        position: fixed;
        z-index: 5;
        left: 0;
        top: 0;
        width: 100%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.6);
        overflow-y: auto;
    }
    
    .modal-conteudo{
        background-color: #181818;
        margin: 30px auto;
        padding: 20px;
        width: 50%;
        color: white;
    }
    
    .imagem-carrosel{
        height: 120px;
        border-radius: 5px; 
    }

    #carouselExampleControls{
        background-color: transparent;
        position: absolute;
        top: 600px;
        left: 50px;
        width: 97%;
    }

    #volumeToggle {
        position: absolute;
        right: 80px;
        bottom: 190px;
        background-color: rgba(68, 68, 68, 0.521);
        color: #fff;
        border: none;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        font-size: 20px;
        transition: 0.3s ease;
        z-index: 6;
      }
      
      #volumeToggle:hover {
        background-color: #555;
      }
}

@media(min-width: 1082px) and (max-width: 1910px){
    .img-topo-logo {
        height: 27px;
        margin-top: 25px;
        padding-right: 30px;
    }
    
    .img-conta{
        margin-top: 20px;
        right: 15px;
        height: 35px;
        background-color: transparent;
        border-radius: 15%;
        position: absolute;
    }
    .capa {
        position: absolute;
        bottom: 30%;
        left: 5%;
        width: 50%;
        z-index: 3;
    }

    .capa-titulo {
        color: white;
        font-size: 70px;
        margin-top: 10px;
        font-weight: bold;
        width: 40%;
    }
    
    .capa-descricao {
        color: white;
        font-size: 18px;
        margin-bottom: 15px;
        width: 50%;
    }
    
    .link-assistir{
        background-color: white;
        color: black;
        padding: 6px 8px;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
    }
    
    .link-info{
        color: black;
        background-color: rgba(255, 255, 255, 0.35);
        padding: 6px 8px;
        border-radius: 5px;
        font-size:15px;
        cursor: pointer;
    }
    
    .imagem-carrosel{
        height: 140px;
        border-radius: 5px;
    }

    #carouselExampleControls{
        background-color: transparent;
        position: absolute;
        bottom: 50px;
        left: 50px;
        width: 97%;
    }

    .botao-som{
        cursor: pointer;
        z-index: 4;
        position: absolute;
        top: 850px;
        right: 70px
    }
}